/* Inline code */
:not(pre) > code[class*='language-'] {
  padding: 0.11em 0.3em;
  margin: 0em 0.1em;
  border-radius: 0.3em;
  white-space: normal;
  background: #e3e9ee;
  color: #2d76c9;
  border: 1.2px solid #2d76c9;
}